# ===============================
# Maven / Java
# ===============================
target/
*.log
*.class
*.jar
*.war
*.ear

# ===============================
# IDE Files
# ===============================
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Node / Frontend 
# ===============================
node_modules/

# ===============================
# Environment Files
# ===============================
.env